<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsxk36niOz6PPER36RjbOjEgMJI2vXKK4</string>
	<key>GCM_SENDER_ID</key>
	<string>915565940695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DucTran.hundredproject</string>
	<key>PROJECT_ID</key>
	<string>hundred-project-a7127</string>
	<key>STORAGE_BUCKET</key>
	<string>hundred-project-a7127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915565940695:ios:6bf787be60fac84ec4c592</string>
</dict>
</plist>